<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="img/logo/logo.png" rel="icon">
  <title>RuangAdmin - Form Basics</title>
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/ruang-admin.min.css" rel="stylesheet">
</head>

<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <%- include('partials/sidebar') %>
      <!-- Sidebar -->
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <!-- TopBar -->
          <%- include('partials/topbar') %>
            <!-- Topbar -->

            <!-- Container Fluid-->
            <div class="container-fluid" id="container-wrapper">
              <div class="row justify-content-center">
                <div class="col-lg-9">
                  <!-- Form Basic -->
                  <div class="card mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-center">
                      <h6 class="m-0 font-weight-bold text-primary display-4">Crear Propiedad</h6>
                    </div>
                    <div class="card-body">
                      <form action="/admin/property/create" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                          <label for="img">Imagen</label>
                          <div class="custom-file">                            
                            <input type="file" class="custom-file-input" id="img" name="img" required>
                            <label class="custom-file-label" for="img">Choose file</label>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="saleRent">Sale/Rent</label>
                          <input type="text" class="form-control" id="saleRent" name="saleRent" required>
                        </div>
                        <div class="form-group">
                          <label for="address">Dirección</label>
                          <input type="text" class="form-control" id="address" name="address" required>
                        </div>
                        <div class="form-group">
                          <label for="area">Área en Metros Cuadrados</label>
                          <input type="text" class="form-control" id="area" name="area" required>
                        </div>
                        <div class="form-group">
                          <label for="rooms">Habitaciones</label>
                          <input type="number" class="form-control" id="rooms" name="rooms" required>
                        </div>
                        <div class="form-group">
                          <label for="bathrooms">Baños</label>
                          <input type="number" class="form-control" id="bathrooms" name="bathrooms" required>
                        </div>
                        <div class="form-group">
                          <label for="garage">Garage</label>
                          <input type="number" class="form-control" id="garage" name="garage" required>
                        </div>
                        <div class="form-group">
                          <label for="department">Departamento</label>
                          <input type="text" class="form-control" id="department" name="department" required>
                        </div>
                        <div class="form-group">
                          <label for="city">Ciudad</label>
                          <input type="text" class="form-control" id="city" name="city" required>
                        </div>
                        <div class="form-group">
                          <label for="neighborhood">Barrio</label>
                          <input type="text" class="form-control" id="neighborhood" name="neighborhood" required>
                        </div>
                        <div class="form-group">
                          <label for="status">Estrato</label>
                          <input type="text" class="form-control" id="status" name="status" required>
                        </div>
                        <div class="form-group">
                          <label for="ownerId">Propietario</label>
                          <input type="number" class="form-control" id="ownerId" name="ownerId" required>
                        </div>
                        <div class="form-group">
                          <label for="description">Descripción</label>
                          <textarea class="form-control" id="description" name="description" rows="3"
                            required></textarea>
                        </div>
                        <div class="text-center">
                          <button type="submit" class="btn btn-primary">Create Property</button>
                        </div>                        
                      </form>
                    </div>
                  </div>

                  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabelLogout" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure you want to logout?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                          <a href="/auth/logout" class="btn btn-primary">Logout</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!---Container Fluid-->
              </div>
              <!-- Footer -->
              <%- include('partials/footer') %>
                <!-- Footer -->
            </div>
        </div>

        <!-- Scroll to top -->
        <a class="scroll-to-top rounded" href="#page-top">
          <i class="fas fa-angle-up"></i>
        </a>

        <%- include('partials/scripts') %>

</body>

</html>