<div class="site-footer">
    <div class="container">

        <div class="row">
            <div class="col-lg-4">
                <div class="widget">
                    <h3>Contacto</h3>
                    <address>43 Raymouth Rd. Baltemoer, London 3910</address>
                    <ul class="list-unstyled links">
                        <li><a href="tel://11234567890">+57 301 636 1705</a></li>
                        <li><a href="tel://11234567890">+57 301 636 Q1705</a></li>
                        <li><a href="aguilarinmobiliarios@gmail.com">aguilarinmobiliarios@gmail.com</a></li>
                    </ul>
                </div> <!-- /.widget -->
            </div> <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="widget">
                    <h3>Importante</h3>
                    <ul class="list-unstyled float-start links">
                        <li><a href="/about">Acerca de Nosotros</a></li>							
                        <li><a href="#">Vision</a></li>
                        <li><a href="#">Mision</a></li>							
                        <li><a href="/privacy-policy">Política de Privacidad</a></li>
                    </ul>						
                </div> <!-- /.widget -->
            </div> <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="widget">
                    <h3>Nuestras Redes Sociales</h3>					

                    <ul class="list-unstyled social">
                        <li><a href="https://www.instagram.com/aguilarnegociosinmobiliarios"><span class="icon-instagram"></span></a></li>
                        <li><a href="#"><span class="icon-twitter"></span></a></li>
                        <li><a href="https://www.facebook.com/people/Aguilar-Imobiliaria/61574811277815/" target="_blank" rel="noopener noreferrer"><span class="icon-facebook"></span></a></li>
                        <li><a href="https://www.youtube.com/@AguilarNegociosInmobiliari-z7t" target="_blank" rel="noopener noreferrer"><span class="icon-youtube"></span></a></li>
                        <li><a href="https://wa.me/+573016361705"><span class="icon-whatsapp"></span></a></li>                                                
                    </ul>
                </div> <!-- /.widget -->
            </div> <!-- /.col-lg-4 -->
        </div> <!-- /.row -->

        <div class="row mt-5">
            <div class="col-12 text-center">
                <!-- 
          **==========
          NOTE: 
          Please don't remove this copyright link unless you buy the license here https://untree.co/license/  
          **==========
        -->

                <p>Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash;                    
                    <!-- License information: https://untree.co/license/ -->
                </p>

            </div>
        </div>
    </div> <!-- /.container -->
</div> <!-- /.site-footer -->