<head>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <meta name="language" content="es">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="/assets/favicon.png">

    <meta name="description" content="Encuentra la casa de tus sueños con Aguilar Negocios Inmobiliarios. Propiedades en venta y arriendo en los mejores barrios y ciudades." />
    <meta name="keywords" content="inmobiliaria, inmobiliaria manizales, casas en venta, casas en venta manizales, arriendo, propiedades, bienes raíces, apartamentos, compra de casas, casas de lujo">
    <meta property="og:url" content="https://aguilarnegociosinmobiliarios.com">
    <meta property="og:type" content="website">
    <meta name="author" content="Aguilar Negocios Inmobiliarios">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/assets/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="/assets/css/tiny-slider.css">
    <link rel="stylesheet" href="/assets/css/aos.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <title><%= pageTitle || 'Casas en Venta Manizales' %></title>
</head>